s* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background: #fff;
}

.jquery-accordion-menu-header {
    align-items: center;
    justify-items: center;
}

.content {
    width: 27%;
    margin-left: 1px;
}

@import url(http://fonts.googleapis.com/css?familsy=Open+Sans:300,400,600,700);
.jquery-accordion-menu,
.jquery-accordion-menu * {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0
}

.jquery-accordion-menu {
    min-width: 260px;
    float: left;
    position: relative;
}

.jquery-accordion-menu .jquery-accordion-menu-footer,
.jquery-accordion-menu .jquery-accordion-menu-header {
    width: 100%;
    height: 270px;
    padding-left: 22px;
    float: left;
    line-height: 50px;
    font-weight: 600;
    color: #f0f0f0;
    border-bottom: solid 1px #fff;
    background: #ee1304;
}

.jquery-accordion-menu .jquery-accordion-menu-footer,
.jquery-accordion-menu .jquery-accordion-menu-header :last-of-type {
    width: 100%;
    height: 200px;
    padding-left: 22px;
    float: left;
    line-height: 50px;
    font-weight: 600;
    color: #f0f0f0;
    background: #ee1304;
}

.jquery-accordion-menu ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.jquery-accordion-menu ul li {
    width: 100%;
    display: block;
    position: relative
}

.jquery-accordion-menu ul li a {
    width: 100%;
    padding: 14px 22px;
    float: left;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 13px;
    background: #414956;
    border-bottom: solid 1px #fff;
    white-space: nowrap;
    overflow: hidden;
    -o-transition: color .2s linear, background .2s linear;
    -moz-transition: color .2s linear, background .2s linear;
    -webkit-transition: color .2s linear, background .2s linear;
    transition: color .2s linear, background .2s linear
}

.jquery-accordion-menu>ul>li.active>a,
.jquery-accordion-menu>ul>li:hover>a {
    color: #fff;
    background: #ee1304;
}

.jquery-accordion-menu>ul>li>a {
    border-bottom: solid 1px #fff;
}

.jquery-accordion-menu ul li a i {
    width: 34px;
    float: left;
    line-height: 18px;
    font-size: 16px;
    text-align: left
}

.navegacion a {
    text-decoration: none;
    margin-right: 4.5rem;
    font-size: 2rem;
    color: black;
    display: block;
    margin-bottom: 1rem;
}

@media(min-width:768px) {
    .barra {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media(min-width:768px) {
    .navegacion a {
        display: inline-block;
        justify-content: space-between;
    }
}

.navegacion a :last-of-type {
    margin-right: 0;
}

.barra {
    background-color: #ee1304;
}

.contenedor {
    width: 98%;
    max-width: 90rem;
    margin: 0 auto 0;
}

.contenedor .dataStudio {
    margin: 1% 10%;
    background-color: black;
}